<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Relia enregistre les appels prospect pour les rattacher aux notes de leads.</string>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>CFBundleDisplayName</key>
	<string>Relia</string>
</dict>
</plist>
